.container {
  background-color: vars.$color-surface;
  border-radius: vars.$roundness;
  overflow: hidden;

  .imageContainer {
  }

  .containerContent {
    flex-direction: row;

    .imageContainer {
      height: 150px;
      aspect-ratio: 0.7;

      .image {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }

    .content {
      flex: 1;
      flex-direction: row;
      padding-block: vars.$spacing-secondary;
      padding-inline: vars.$spacing-primary;

      .info {
        flex: 1;

        .infoTitle {
          font-size: vars.$font-size-heading2;
        }

        .infoSub {
          color: vars.$color-text-secondary;
        }

        .infoRating {
          font-size: vars.$font-size-heading2;
          border: 2px solid vars.$color-surface2;
          width: fit-content;
          padding-inline: vars.$spacing-primary;
          border-radius: vars.$roundness;
          margin-top: auto;
          margin-bottom: vars.$spacing-tertiary;
        }
      }
    }
  }
}

.containerFull {
  @extend .container;
}

.containerCompact {
  @extend .container;

  display: grid;
  cursor: pointer;

  &:hover {
    scale: 1.03;
    transition: scale 0.15s ease-in-out;
  }

  .imageContainer {
    height: 100%;
    width: 100%;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-color: grey;
    }
  }

  .infoRating {
    position: absolute;
    top: vars.$spacing-tertiary;
    right: vars.$spacing-tertiary;
    background-color: vars.$color-background-translucent;
    padding-block: calc(vars.$spacing-tertiary / 2);
    padding-inline: vars.$spacing-secondary;
    border-radius: vars.$roundness;
  }
}
