.container {
  background-color: vars.$color-surface;
  padding-block: vars.$spacing-primary * 2;
  justify-content: center;
  align-items: center;
  gap: vars.$spacing-primary;
  color: vars.$color-text-secondary;
  border-radius: vars.$roundness;
  cursor: pointer;

  &:hover {
    background-color: vars.$color-surface2;
  }

  .iconContainer {
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;

    .icon {
      color: vars.$color-text-secondary;
      font-size: 42px;
    }
  }

  .name {
  }
}
