.header {
  flex-direction: row;
  padding-inline: vars.$spacing-primary;
  padding-top: vars.$spacing-primary;

  .backButton {
  }

  .heading {
    flex-direction: row;
    align-items: center;
    gap: vars.$spacing-secondary;

    .headingIcon {
      font-size: 30px;
    }

    .headingLabel {
      font-size: vars.$font-size-display;
    }
  }
}
