.container {
  width: 100%;
  height: 100%;

  .header {
    width: 100%;
  }

  .content {
    flex: 1;
    gap: var(--spacing-primary);
    padding: var(--spacing-primary);
    overflow: auto;
  }
}
