.container {
  cursor: pointer;
  color: vars.$color-text-primary;
  border-radius: vars.$roundness;
  padding: vars.$spacing-secondary;
  user-select: none;

  &:hover {
  }
}

.primary {
  background-color: vars.$color-primary;

  &:hover {
    background-color: vars.$color-primary-hover;
  }
}

.secondary {
}

.danger {
  background-color: vars.$color-danger;

  &:hover {
    background-color: vars.$color-danger-hover;
  }
}
