.container {
  background-color: vars.$color-surface;
  padding: vars.$spacing-primary;
  flex-direction: row;
  gap: vars.$spacing-primary;
  border-radius: vars.$roundness;

  .imageContainer {
    background-color: grey;
    min-height: 150px;
    min-width: 100px;
    overflow: hidden;
    border: 1px solid vars.$color-surface2;

    .image {
      position: absolute;
    }
  }

  .infoName {
    font-size: vars.$font-size-heading;
  }

  .infoGenre {
    color: vars.$color-text-secondary;
  }
}
