.container {
  background-color: vars.$color-surface;
  padding: vars.$spacing-primary;
  flex-direction: row;
  gap: vars.$spacing-primary;
  border-radius: vars.$roundness;

  .imageContainer {
    background-color: grey;
    min-height: 150px;
    min-width: 100px;
    overflow: hidden;
    outline: 1px solid vars.$color-surface2;
    border-radius: vars.$roundness;

    .image {
      position: absolute;
    }
  }

  .content {
    flex: 1;
    flex-direction: row;

    .info {
      flex: 1;

      .infoTitle {
        font-size: vars.$font-size-heading;
      }

      .infoSub {
        color: vars.$color-text-secondary;
      }

      .infoRating {
        font-size: vars.$font-size-heading2;
        border: 2px solid vars.$color-surface2;
        width: fit-content;
        padding-inline: vars.$spacing-primary;
        border-radius: vars.$roundness;
        margin-top: auto;
        margin-bottom: vars.$spacing-tertiary;
      }
    }
  }
}
