.container {
  gap: vars.$spacing-primary;

  .items {
    gap: vars.$spacing-primary !important;
  }
}

.containerFull {
  width: 100%;
}

.containerCompact {
  gap: vars.$spacing-primary;

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (min-width: vars.$breakpoint-medium) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
