.container {
  background-color: vars.$color-surface;

  .content {
    gap: vars.$spacing-primary;

    .nameInput {
      flex: 1;
    }

    .dateRow {
      flex-direction: row;
      align-items: flex-end;
      gap: vars.$spacing-primary;

      .dueDateInput {
        min-width: 160px;
        flex: 1;
      }

      .dueDateButton {
      }
    }

    .createButton {
      margin-top: calc(vars.$spacing-primary * 3);
    }
  }
}
