$labelWidth: 110px;
$cellHeight: 35px;

.container {
  gap: vars.$spacing-primary;
  padding: vars.$spacing-primary;
  overflow: auto;
  gap: calc(vars.$spacing-primary * 2);
  min-width: fit-content;

  .header {
    margin-left: 110px;
    padding-left: vars.$spacing-secondary;

    .headerMonth {
      font-size: vars.$font-size-display;
    }

    .headerYear {
      font-size: vars.$font-size-heading;
      color: vars.$color-text-secondary;
      margin-bottom: -16px;
    }
  }

  .month {
    gap: vars.$spacing-secondary;
  }

  .daysOfMonth {
    flex-direction: row;
    gap: vars.$spacing-primary;
    padding-left: calc(110px + vars.$spacing-primary);
    border-radius: vars.$roundness;
    width: 100%;

    .dayOfMonth {
      font-size: 13px;
      aspect-ratio: 1;
      flex: 1;
      background-color: vars.$color-surface;
      justify-content: center;
      align-items: center;
    }
  }

  .habit {
    flex-direction: row;
    gap: vars.$spacing-primary;
    align-items: center;
    flex: 1;

    .habitName {
      white-space: nowrap;
      max-width: 110px;
      min-width: 110px;
    }

    .habitDay {
      background-color: vars.$color-surface;
      padding: vars.$spacing-primary;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      flex: 1;
      aspect-ratio: 1;
    }

    .habitDayUnset {
      background-color: vars.$color-surface;
    }

    .habitDayDone {
      background-color: #398039ff;
    }

    .habitDayNotDone {
      background-color: #9c1a1a;
    }

    .habitIcon {
      font-size: vars.$icon-size-small;
    }
  }
}
