.container {
  .header {
    flex-direction: row;
    align-items: center;
    gap: vars.$spacing-primary;
    // background-color: vars.$color-surface;
    padding: vars.$spacing-primary;
    padding-bottom: 0;

    .backButton {
    }

    .heading {
      font-size: vars.$font-size-heading;
    }
  }

  .content {
    padding: vars.$spacing-primary;
    gap: vars.$spacing-primary;
  }
}
