.container {
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: auto;
  scrollbar-width: thin !important;
  scrollbar-color: vars.$color-outline vars.$color-surface2 !important;
  scrollbar-arrow-color: vars.$color-background !important;

  .innerContainer {
    height: 100%;
    width: 100%;
    max-width: vars.$breakpoint-large;

    .content {
      flex: 1;
      padding: vars.$spacing-primary;
    }
  }
}
