.container {
  width: 100%;
  height: 100%;
  align-items: center;

  .innerContainer {
    height: 100%;
    width: 100%;
    max-width: vars.$breakpoint-large;

    .header {
      flex-direction: row;
      padding: vars.$spacing-primary;
      gap: vars.$spacing-primary;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: vars.$color-background;

      .heading {
        font-size: vars.$font-size-heading;
      }

      .buttons {
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        gap: vars.$spacing-primary;
      }
    }

    .content {
      flex: 1;
      padding: vars.$spacing-primary;
    }
  }
}
