.container {
  max-width: vars.$breakpoint-large;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .header {
    flex-direction: row;
    align-items: center;
    gap: vars.$spacing-primary;
    // background-color: vars.$color-surface;
    padding-inline: vars.$spacing-primary;
    padding-block: vars.$spacing-secondary;
    padding-bottom: 0;

    .backButton {
    }

    .heading {
      font-size: vars.$font-size-heading;
    }

    .buttons {
      flex-direction: row;
      flex: 1;
      justify-content: flex-end;
      gap: vars.$spacing-primary;
    }
  }

  .content {
    padding: vars.$spacing-primary;
    gap: vars.$spacing-primary;
  }
}
