.container {
  cursor: pointer;

  // * {
  //   user-select: none;
  // }

  // .input {
  //   user-select: none;
  // }

  .calendarButton {
    position: absolute;
    right: vars.$spacing-secondary;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon {
  }

  ::-webkit-calendar-picker-indicator {
    display: none;
  }
}
