.container {
  cursor: pointer;

  .calendarButton {
    position: absolute;
    right: vars.$spacing-secondary;
    top: 50%;
    transform: translateY(-50%);
  }

  .icon {
  }

  ::-webkit-calendar-picker-indicator {
    display: none;
  }

  input {
    &:disabled {
      color: rgba(0, 0, 0, 0) !important;
    }
  }
}
