--color-background: red;
--color-header: rgba(0, 0, 0, 0.7);

--color-surface: rgb(30, 30, 30);
--color-surface2: rgb(40, 40, 40);
--color-surface3: rgb(50, 50, 50);
--color-surface4: rgb(60, 60, 60);
--color-surface5: rgb(70, 70, 70);

--color-surface-translucent: rgb(30, 30, 30, 0.5);
--color-surface2-translucent: rgb(40, 40, 40, 0.5);
--color-surface3-translucent: rgb(50, 50, 50, 0.5);
--color-surface4-translucent: rgb(60, 60, 60, 0.5);
--color-surface5-translucent: rgb(70, 70, 70, 0.5);

--color-navbar: #1a2028;

--color-text-special: #0194c6;
--color-text-primary: rgb(255 255 255 / 90%);
--color-text-secondary: rgb(255 255 255 / 70%);
--color-text-tertiary: rgb(255 255 255 / 50%);
--color-outline: #343e4b;

// --shadow: 1px 2px 3px rgb(0, 0, 0, 0.6);
--shadow: 1px 2px 3px rgb(0, 0, 0, 0);
