.container {
  padding: vars.$spacing-primary;
  border-radius: vars.$roundness;
  background-color: vars.$color-surface;

  .row {
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: vars.$spacing-primary;
  }

  .name {
    flex: 1;
    font-size: vars.$font-size-heading2;
  }

  .nameDone {
    text-decoration: line-through;
    color: vars.$color-text-secondary;
  }

  .checkButton {
    padding: 0 !important;
    height: 100%;
  }

  .description {
    color: vars.$color-text-secondary;
    font-size: vars.$font-size-body2;
  }

  .textComplete {
    color: vars.$color-text-secondary;
  }

  .buttonIcon {
    font-size: vars.$icon-size-large;
  }

  .dueDate {
    color: vars.$color-text-secondary;
    font-size: vars.$font-size-body2;
    flex: 1;
    // margin-top: 2px;
  }

  .priority {
    background-color: vars.$color-primary;
    padding-inline: vars.$spacing-secondary;
    padding-block: calc(vars.$spacing-tertiary / 2);
    border-radius: vars.$roundness;
    color: text;
    position: absolute;
    top: -10px;
    left: -5px;
    rotate: 45deg;
    height: 20px;
  }
}
