.container {
  flex-direction: row;
  padding: vars.$spacing-primary;
  gap: vars.$spacing-primary;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: vars.$color-background;

  .heading {
    font-size: vars.$font-size-heading;
  }

  .buttons {
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    gap: vars.$spacing-primary;
  }

  .backButton {
    visibility: hidden;
  }
}
