.container {
  aspect-ratio: 1;
  flex: 1;
  border-radius: vars.$roundness;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #222222;
  max-width: 120px;
  transition: scale 200ms ease-in-out;

  &:hover {
    scale: 1.05;
  }

  .image {
    position: absolute;
    padding: vars.$spacing-primary;
  }
}
