.container {
  background-color: vars.$color-surface;
  padding: vars.$spacing-primary;
  border-radius: vars.$roundness;
  flex: 1;
  min-width: fit-content;
  gap: vars.$spacing-primary;

  .header {
    flex-direction: row;
    align-items: center;

    .text {
      flex: 1;

      .name {
        white-space: nowrap;
        overflow: hidden;
      }

      .description {
        color: vars.$color-text-secondary;
        font-size: vars.$font-size-body2;
      }
    }

    .deleteButton {
    }

    .deleteButtonIcon {
      font-size: vars.$icon-size-small;
    }
  }

  .dueDate {
    color: vars.$color-text-secondary;
  }
}
