.container {
  // height: 100%;

  .input {
    &:focus {
      outline: 1px solid vars.$color-primary;
    }
  }

  .rightText {
    position: absolute;
    right: vars.$spacing-primary;
    color: vars.$color-text-tertiary;
    top: 0;
    bottom: 0;
    justify-content: center;
  }

  .disabled {
    filter: brightness(vars.$disabled-brightness-filter) !important;
    outline: 3px solid vars.$color-surface;
    color: vars.$color-text-secondary;
  }

  .actionContainer {
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1;

    .actionIcon {
      font-size: vars.$icon-size-large;
      color: vars.$color-text-secondary;
    }
  }

  .characterLimit {
    position: absolute;
    bottom: vars.$spacing-tertiary;
    right: vars.$spacing-tertiary;
    text-align: right;
  }

  .maxCap {
    color: vars.$color-danger;
  }
}

.clickable {
  cursor: pointer !important;
}
