.container {
  .content {
    gap: vars.$spacing-primary;
  }

  .row {
    flex-direction: row;
    gap: vars.$spacing-primary;
    align-items: flex-end;
    justify-content: stretch;
    margin-bottom: vars.$spacing-primary;

    .inputText {
      flex: 1;
    }
  }

  .buttons {
    flex-direction: row;
    margin-top: calc(vars.$spacing-primary * 3);
    gap: vars.$spacing-primary;

    .deleteButton {
      flex: 0.5;
    }

    .createButton {
      flex: 1;
    }
  }
}
