.container {
  .content {
    width: 100%;
    max-width: 1400px;
    padding-inline: vars.$spacing-primary * 2;
    padding-block: vars.$spacing-primary;
    margin-inline: auto;
    gap: vars.$spacing-primary;
  }
}
