.container {
  height: 20px;
  background-color: vars.$color-surface;
  border-radius: vars.$roundness;
  overflow: hidden;

  .progress {
    position: absolute;
    left: 0;
    background-color: vars.$color-success;
    height: 100%;
  }
}
