.container {
  flex: 1;

  .header {
    background-color: vars.$color-surface;
    width: 100%;
    padding: vars.$spacing-primary;

    .loginButton {
      justify-self: flex-end;
      margin-left: auto;
    }
  }

  .content {
    flex: 1;
    align-items: center;

    .label {
      font-size: 50px;
      margin-top: 45%;
    }
  }
}
