.container {
  flex: 1;

  .header {
    // background-color: vars.$color-surface;
    width: 100%;
    padding: vars.$spacing-primary;

    .loginButton {
      justify-self: flex-end;
      margin-left: auto;
    }
  }

  .content {
    flex: 1;
    align-items: center;
    gap: vars.$spacing-primary;

    .labelContainer {
      margin-top: 10%;
      margin-bottom: 10%;

      .label {
        font-size: 50px;
      }

      .subLabel {
        color: vars.$color-text-secondary;
        font-size: vars.$font-size-heading;
        text-align: center;
      }
    }

    .sections {
      gap: calc(vars.$spacing-primary * 4);
      width: 100%;

      .section {
        gap: vars.$spacing-secondary;
        justify-content: center;
        align-items: center;
        width: 100%;

        .sectionLabel {
          text-align: center;
          font-size: vars.$font-size-heading;
        }

        .icons {
          flex-direction: row;
          gap: vars.$spacing-primary;
          width: 100%;
          justify-content: center;
          padding-inline: vars.$spacing-primary;

          .reactLink {
          }

          .jsLink {
            background-color: #f7df1e;
          }

          .tsLink {
            background-color: #3178c6;
          }

          .sassLink {
            background-color: vars.$color-surface;
          }

          .firebaseLink {
            background-color: #191919;
          }

          .nodeLink {
            background-color: #191919;
          }

          .expressLink {
            background-color: #f1c40f;
            padding: 0 !important;

            img {
              padding: 0;
            }
          }

          .linkedinLink {
            background-color: #0077b5;
          }

          .githubLink {
            background-color: white;
            border: 2px solid white;

            img {
              min-height: 110%;
              min-width: 110%;
              padding: 0;
            }
          }

          .nodeIcon {
            background-color: vars.$color-surface;
          }

          .linkedInIcon {
            background-color: #0077b5;
          }
        }
      }
    }
  }
}
