.container {
  flex: 1;

  .header {
    // background-color: vars.$color-surface;
    width: 100%;
    padding: vars.$spacing-primary;

    .loginButton {
      justify-self: flex-end;
      margin-left: auto;
    }
  }

  .content {
    flex: 1;
    align-items: center;
    gap: vars.$spacing-primary;

    .labelContainer {
      margin-top: 12.5%;
      margin-bottom: 10%;

      .label {
        font-size: 50px;
      }

      .subLabel {
        color: vars.$color-text-secondary;
        font-size: vars.$font-size-heading;
        text-align: center;
      }
    }

    .sections {
      gap: calc(vars.$spacing-primary * 4);

      .section {
        gap: vars.$spacing-secondary;
        justify-content: center;
        align-items: center;

        .sectionLabel {
          text-align: center;
          font-size: vars.$font-size-heading;
        }

        .icons {
          flex-direction: row;
          gap: vars.$spacing-primary;

          .icon {
            height: 70px;
            width: 70px;
            border-radius: 8px;
          }

          .sassIcon {
            background-color: vars.$color-surface;
            padding: 8px;
          }

          .githubIcon {
            background-color: white;
            border: 1px solid white;
          }

          .nodeIcon {
            background-color: vars.$color-surface;
            padding: 6px;
          }
        }
      }
    }
  }
}
